/*
  Container position
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 200%;
}

.container {
    background: cadetblue;
    width: 80%;
    height: 80%;
    margin: auto;
    /*position: relative;*/
}

.box1, .box2, .box3 {
    width: 20%;
    height: 20%;
    background: crimson;
}

.box2 {
    background: lightblue;
    position: relative;
    left: 3rem;
}

.box3 {
    background: rgb(255, 209, 124);
    /* 
    fixed 하면 항상 고정되어있음 
    nav bar활용 가능
    */
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
    /* sticky 도 nav bar 에 활용할 수 있음 */
    position: sticky;
    top: 0%;
}

/* position: absolute & transform: traslate(when parent is position: relative)*/
.box1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
