* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* dark mod */
  /* background: rgb(46, 55, 80);
  filter: invert(1) hue-rotate(180deg); */
}

div {
  display: flex;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* line-height: 100vh; */
}

div button {
  padding: 2rem 5rem;
  font-size: 2rem;
  background: rgb(55, 113, 151);
  color: white;
  border: none;
  cursor: pointer;
}

button {
  animation: fade 1s ease-in-out forwards;
}

@keyframes fade {
  from {
    opacity: 1;
    pointer-events: all;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

p {
  font-size: 2rem;
}

p::selection {
  background: skyblue;
  color: white;
}

p::first-letter {
  font-size: 4rem;
  font-weight: bold;
  font-family: sans-serif;
}


a {
  margin: 10rem 0rem;
  font-size: 5rem;
  color: rgb(85, 36, 36);
  text-decoration: none;
}


/* 화면 가변형.... */
@media screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

h1 {
  font-size: 5rem;
  background: linear-gradient(to left, rgb(160, 77, 77), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}