/* 
 inline 
*/
html {
    font-size: 62.5%;
}

h1 {
    background: lightslategray;
    height: 5rem;
}

a {
    background: lightslategray;
    display:inline-block;
    height: 20rem;
    width: 20rem;
    margin: 2rem;
    padding: 2rem;
}