.app {
  min-height: 100vh;
  background: rgb(173, 243, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red {
  color: red;
  font-size: 50px;
}