h1 {
  font-size: 5rem;
}

button {
  font-size: 3rem;
  color: white;
  background: rgb(0, 110, 255);
  border: none;
  border-radius: 1rem;
  padding: 0.7rem;
}

span {
  font-size: 3rem;
  margin-right: 2rem;
}